<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Guy Sandwich CO</title>
</head>
<header>
    <h2 id = 'slogan'>Okay Food by Cool People &copy;</h2>
    <h1 id = "header-name">Cool Guy Sandwich Co</h1>
    <a id='home-link' class='header-link' href="/">Home</a>
    <a id='review-link' class='header-link' href="/reviews">Reviews</a>
    <a id='menu-link' class='header-link' href="/menu">Menu</a>
    <a id='about-link' class='header-link' href="/about">About Us</a>
  
</header>
<body> 
    {{{body}}}
</body>
</html>