<html>
    <head>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link type="text/css" href="/css/about.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <h3>About Us</h3>
    <div>
        It all started with a mission: capitalize on coolness. Recognizing that working for the man is not cool, but neither is being broke, our founder Marty DiMaggio
        knew that he needed to find a way to convert his unimpeachable hipness into a solid cash flow. So in 2011 he opened up Cool Guy Sandwich Co. While most sandwich shops
        were focusing on food and flavor, Marty had a greater goal in mind. He was going to assemble to coolest restaurant staff in the history of the world. And he did.
        At Cool Guy Sandwich Co, we guarantee that we're cooler than the competition. Because even if the ingredients aren't always fresh, we are.
    </div>
    
    <img src = "/images/marty.jpg">
    <h5>Marty</h5>
    <br>
    <br>
    <br>
    <br>
    <span>Credit to https://pngimage.net/wp-content/uploads/2018/06/sub-sandwich-png-1.png for homepage sandwich picture</span>
</body>
</html>