<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link type="text/css" href="/css/menu.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>
    <h1>MENU</h1>
    <div id = "menu">
        <h2> Sandwiches </h2>
        <h4>We guarantee that even the hot ones are served by someone who's ice cold</h4>
        <ul id = "sandwich-list">

            <li>The Fonz
                <p>
                    Turkey, Roast Beef, Provolone Cheese, Tomatoes, Lettuce, Red Onion and Balsamic Vinegrette on Italian Bread
                </p>
            </li>

             <li>The So Fresh, So Clean
                <p>
                    Spinach, Tomatoes, Red Onion, Roasted Red Peppers, Banana Peppers, Olive Oil, Salt and Pepper on Whole Grain Wheat Bread
                </p>
            </li>

            <li>The Bill Clinton Playing the Saxophone on The Arsenio Hall Show In 1992
                <p>
                    Cheddar, Gouda, Pepper Jack, Bacon, Hot Peppers on White Bread. Grilled and Served Hot.
                </p>
            </li>

            <li>The Big Tony
                <p>
                    Salami, Pepperoni, Lots of Gabagool. Provolone, Swiss, Tomatoes, Lettuce, Hot Peppers, Italian Dressing on Italian Bread. Toasted Optional.
                </p>
            </li>

            <li>The Built to Spill
                <p>
                    Black Bean or Chickpea Patty, Swiss, Tomatoes, Spincah Lettuce, Red Onion, Green Peppers, 
                    Roasted Red Peppers, Banana Peppers, Mushrooms, Garlic Aioli,  Olive Oil, Salt and Pepper on Sourdough. Served Hot.
                </p>
            </li>
        </ul>
        <h2> Sides </h2>
        <ul>
            <li>
                Potato Chips
            </li>
            <li>
                Macaroni and Cheese
            </li>
            <li>
                Homemade Chocolate Chip Cookie
            </li>
        </ul>
    </div>

    <h4> Download Menu <a href="images/menu.pdf" download="coolGuyMenu.pdf">Here</a></h4>
</body>


</html>