<html>
    <head>
 <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link type="text/css" href="/css/reviews.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
    <h3>Check Out These Reviews From Our Satisfied Customers</h3>
    <div id = "review-div">
        <p id = "review-1" class = "review">
            "I went to Cool Guy Sandwich Co for lunch the other day. I was amazed with how cool the girl making my sandwich was. 
            She had a nose ring and was wearing a Sonic Youth T-shirt. I bet she actually listens to them too! 
            I couldn't tell for sure because she was wearing sunglasses, but I imagine her eyes were as green as the lettuce on my club sandwich.
            When I went to pay, I recognized the cashier as the former star running back at my high school. In 11th grade he wouldn't even look at me in the hallway,
            and now here he was handing me a receipt and telling me to have a nice day. Wow! They forgot to put the roast beef on my sandwich, but boy did I feel cool eating it.
            Five stars!" <span class ='sig'>- Amy G </span>
        <p>
        <p id = "review-2"  class = "review">
            "I love Cool Guy Sandwich Co. Last time I went my hot Italian Sandwich was cold and had mayonnaise on it, 
            but the guy who made it let me take a picture of his cool haircut to show to my barber and said "take it easy, dude" as I left. 
            I think he skateboards too. Will be returning soon." <span class ='sig'>- Pete </span>
        </p>
        <p id ="review-3"  class = "review">
            "I ordered delivery for dinner last night. It took almost an hour for the food to show up, 
            but the delivery guy rode an motorcycle and was wearing a cool leather jacket." <span class ='sig'> - Ted P </span>
        </p>

        <h4>Submit Your Own Review</h4>
        <form action = " http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method = "POST">
            Rating:
            <br>
            <label for="cool">Cool</label>    
            <input type="radio" id ="cool" name="rating" value="cool">
            <label for="not-cool">Not Cool</label>
            <input type="radio" id ="not-cool" name="rating" value="not-cool">
            <br>
            <br>
            Tell Us Why!
            <input type="text" name="review" id="review-text">
            <input type="submit" id="submit">
        

        </form>
        <div>Be cool and leave use a review on <a href = "/yelp">Yelp</a></div>

    
    </div>
</body>
</html>